@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
} 

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/Componentes-PC.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    min-height: 85vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #CE967B;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 50px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: flow-root;
    float: center;
    padding: 11px 35px;
    background-color: black;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: grey;
}

.componente {
    padding:  100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.componente-content {
    text-align: center;
}

.componente-content h2 {
    font-size: 35px;
    line-height: 50px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 150px;
    margin-bottom: center;
}


.componente-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.componente-1 {
    padding: 0 25px;
}

.componente-1 img {
    width: 200px;
}



.componente-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.mantenimiento {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(160, 9, 9, 0.7)),url(img/mantenimiento.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
    
}

.mantenimiento-content {
    
    text-align: center;
}

.mantenimiento-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.mantenimiento-content p {
    font-size: 16px;
    color:white;
    margin-bottom: 50px;
    padding: 0 100px;
}

.mantenimiento-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.mantenimiento-1 {
    padding: 0 100px;
}

.mantenimiento-1 img {
    
    width: 25px;
    margin-bottom: 15px;
}

.mantenimiento-2 {
    padding: 0 100px;
}

.mantenimiento-2 img {
    width: 25px;
    margin-bottom: 15px;
}

.mantenimiento-3 {
    padding: 0 100px;
}

.mantenimiento-3 img {
    width: 25px;
    margin-bottom: 15px;
}

.mantenimiento-1 h3 {
    color: greenyellow;
    font-size: 18px;
}

.mantenimiento-2 h3 {
    color: greenyellow;
    font-size: 18px;
}

.mantenimiento-3 h3 {
    color: greenyellow;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(img/Konrad_Zuse.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 50%;
    
}

.general-3 {
    background-image: url(img/lenguaje.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
}

h2 {
    font-size: 20px;
    line-height: 30px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 15px;
    color: #414247;
    margin: 25px 0 25px 0;
    text-align: left center;
    
    
}

.blog {
    
    padding: 100px 0;
    text-align: center;
}


.blog-content {
    
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 180px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-1 h3 {

    font-size: 25px;
    color: #323337;
}

.blog-2 {
    padding: 15px 55px;
}

.blog-2 img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-2 h3 {
    padding: 8px;
    font-size: 25px;
    color: #323337;
}

.blog-3 {
    padding: 15px 55px;
}

.blog-3 img {
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-3 h3 {
        font-size: 25px;
    color: #323337;
}

.footer{
    
    
    padding: 100px 0;
    border-top: 6px solid #333;
    color: brown;
    background-color: black;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 400;
    
}



.link a {
    font-size: 16px;
    color: white;
    display: block;
    margin-bottom: 15px;

}



@media only screen and (max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 75px;
    }

    .header-content p {
        padding: 0;
    }

    .componente {
        padding: 30px;
    }

    .componente-content h2 {
        
        padding: 0;
    }

    
    .componente-group {
        flex-direction: column;
        margin-bottom: 0;
    }
   
    .componente-img {
        display: none;
    }

    .mantenimiento {
        padding: 30px;
    
    }

    .mantenimiento-content p {
        padding: 0;
    }

    .mantenimiento-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .mantenimiento-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;

    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 30px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}